# Bot Settings
BOT_TOKEN=
ADMIN_IDS=7973967415
DATABASE_URL=mongodb+srv://OtpWala:PapaiPaul13@otpwala.gjxwbr3.mongodb.net/?appName=OtpWala
API_ID=31724382
API_HASH=cdaa5c6f43ec7eccbe7142d25e6e1c67


# Balance
DEFAULT_CURRENCY=₹
MIN_BALANCE_REQUIRED=0

# Gmail (for FamPay verification)
GMAIL_USER=
GMAIL_PASS=

# MongoDB (for storing transactions)
MONGO_URL=mongodb+srv://OtpWala:PapaiPaul13@otpwala.gjxwbr3.mongodb.net/?appName=OtpWala
